html,
body {
	width: 100%;
    max-width: 100%;
    overflow-x: hidden;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}

body{
	font-size: 16px;
	line-height: 27px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 1 auto;
}
.footer {
	width: 100%;
	position:static;
	
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}





