.menu {

&__list {

}
&__item {

}
&__link-about{
    border-bottom: 2px solid #717272;
    border-radius: 1px;
}
}

.about-us {
    min-height: 399px;
    background-image: url(../images/about-us__bg.jpg);
    position: relative;
    margin: 0 auto;

    &__page-line {
        
    }

    &__link {
        font-size: 14px;
        line-height: 55px;
        color: #5A5A5A;
       
    }

    &__title {
        @extend %title-font;
        font-size: 60px;
        line-height: 80px;
        color: #363838;
        text-align: center;
        margin-top: 105px;
        
    }

}

.info{
    margin-top: 130px;

    &__inner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    }

&__title {
    width: 100%;
    @extend %title-font;
    font-size: 36px;
    line-height: 60px;
    color: #363838;
    
}

&__line {
    display: inline-block;
    width: 252px;
    background: #6D7278;
    border: 1px solid #979797;
    margin: 25px 0;
    position: absolute;
    left: 0;
    top: 130px;
}

&__text {
    width: 825px;
    color: #5A5A5A;
    margin-top: 65px;
    margin-bottom: 100px;
}

}