.menu {
    &__link-gallery {

        border-bottom: 2px solid #717272;
        border-radius: 1px;
    }
}



.gallery {


    &.gallery-page{
        margin-bottom: 148px;
        .gallery__item-img:nth-child(8) {
            grid-column: span 2;
            grid-row: span 2;
        }
        .gallery__item:first-child{
            margin-bottom: 20px;
        }
    }
}